{erl_opts,
 [debug_info, {src_dirs, ["test"]}]}.

{eunit_compile_opts,
 [{src_dirs, ["test"]}]}.

{provider_hooks,
 [{pre, [{compile, {lfe, compile}}]},
  {post, [{compile, lodox}]}]}.

{deps,
 [{lfe, ".*",
   {git, "git://github.com/rvirding/lfe.git",
    {tag, "v0.10.0"}}},
  {lutil, ".*",
   {git, "git://github.com/lfex/lutil.git",
    {tag, "0.7.0"}}},
  {ltest, ".*",
   {git, "git://github.com/lfex/ltest.git",
    {tag, "0.7.0"}}},
  {exemplar, ".*",
   {git, "git://github.com/yurrriq/exemplar.git",
    {tag, "0.3.0"}}},
  {markdown, ".*",
   {git, "git://github.com/quasiquoting/erlmarkdown.git",
    {branch, "master"}}}]}.
